<div class="container col-8">
  <div class="card">
    <h2 class="card-header">Quizes List</h2>
    <div class="card-body">
      <table class="table table-hover table-striped">
        <thead>
          <tr>
            <th>#</th>
            <th>Name</th>
            <th>Author</th>
            <th>Actions </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let quiz of quizList | async; let i = index">
            <td>{{i + 1}}</td>
            <td>{{quiz.name}}</td>
            <td>{{quiz.author.username}}</td>
            <td><button (click)="deleteQuiz(quiz.id)" class="btn btn-danger btn-delete">Delete</button>
              <button (click)="quizDetails(quiz.id)" class="btn btn-info btn-detail"
                style="margin-left: 10px">Details</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
