<h2>Quiz Details</h2>

<hr/>
<div *ngIf="quiz">
  <div>
    <label><b>Name: </b></label> {{quiz.name}}
  </div>
  <div>
    <label><b>Author's username: </b></label> {{quiz.author.username}}
  </div>
  <div>
    <label><b>Author: </b></label> {{quiz.author.firstName}} {{quiz.author.secondName}} {{quiz.author.thirdName}}
  </div>
  <div>
    <label><b>Email: </b></label> {{quiz.email}}
  </div>
</div>

<br>
<br>
<button mat-raised-button color="accent" (click)="quizList()">Back to Quiz List</button>
