<div class="container col-7">
  <h2 class="card-title">Quiz Details</h2>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><b>Name: </b> {{quiz.name}}</li>
    <li class="list-group-item"><b>Author's username: </b> {{quiz.author.username}}</li>
    <li class="list-group-item"><b>Author: </b> {{quiz.author.firstName}} {{quiz.author.secondName}}
      {{quiz.author.thirdName}}</li>
    <li class="list-group-item"><b>Email: </b> {{quiz.email}}</li>
  </ul>
  <div class="card-footer">
    <button type="button" class="btn btn-light" (click)="quizList()">Back to Quiz List</button>
  </div>
</div>