<div class="row">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-header">
                {{ user.username }}
            </div>
            <div class="card-body">
                <div class="card-text">
                    Full name: {{user.secondName}} {{user.firstName}} {{user.thirdName}}
                </div>
                <div class="card-text">
                    Birthday: {{user.birthday}}
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">

        </div>
    </div>
</div>