<div class="container col-7">
    <div class="card">
        <h2 class="card-header">New quiz</h2>
        <div class="card-body">
            <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
                <div class="form-group">
                    <label for="quizName">Name of quiz</label>
                    <input type="text" class="form-control" name="quizName" [(ngModel)]="quiz.name" required #quizName="ngModel" />
                    <div class="alert alert-danger" role="alert" *ngIf="f.submitted && quizName.invalid">
                        Name is required!
                    </div>
                </div>
                <h1 class="card-title">Questions</h1>
                <div>
                    <div class="form-group">
                        <label for="question">Text</label>
                        <input type="question" class="form-control" name="quiestion" [(ngModel)]="question.text" />
                    </div>
                </div>
                <div class="form-group">
                    <button class="btn btn-light btn-block">
                        Add question
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>